* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: "poppins, sans-serif";
}

body {
  color: #ededed;
  background: #081b29;
}

.home {
  position: relative;
  width: 100%;
  justify-content: space-between;
  /* height: 100vh; */
  padding: 70px 10% 0;
}

.home-content h3 {
  animation: SlideBottom 1s ease forwards;
  animation-delay: 0.7s;
}

.home-content h3:nth-of-type(2) {
  animation: SlideTop 1s ease forwards;
  animation-delay: 0.7s;
}
.home-content h1 {
  animation: SlideRight 1s ease forwards;
  animation-delay: 1s;
}
.home-content p {
  animation: SlideLeft 1s ease forwards;
  animation-delay: 1s;
}

.home-sci a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background: transparent;
  border: 2px solid #0ef;
  border-radius: 50%;
  font-size: 20px;
  color: #0ef;
  text-decoration: none;
  margin: 30px 15px 30px 0;
  transition: 0.5s ease;
  opacity: 0;
  animation: SlideLeft 1s ease forwards;
  animation-delay: calc(0.2s * var(--i));
  transform-origin: center;
}
.home-sci a:hover {
  background: #0ef;
  color: #081b29;
  box-shadow: 0 0 20px #0ef;
  transform: rotate(360deg);
}

.btn-box {
  display: inline-block;
  padding: 12px 28px;
  background: #0ef;
  border-radius: 40px;
  font-size: 16px;
  color: #081b29;
  letter-spacing: 1px;
  text-decoration: none;
  font-weight: 600;
  opacity: 0;
  animation: SlideTop 1s ease forwards;
  animation-delay: 2s;
  box-shadow: 0 0 5px #0ef, 0 0 25px #0ef;
}
.btn-box:hover {
  box-shadow: 0 0 5px cyan, 0 0 25px cyan, 0 0 50px cyan, 0 0 100px cyan,
    0 0 200px cyan;
}

.container1 {
  width: 520px;
  height: 650px;
  
}
.heading1 {
  text-align: center;
  text-underline-offset: 10px;
  text-decoration-thickness: 5px;
}
.Technical-bars .bar .info span {
  font-size: 17px;
  font-weight: 500;
  animation: showText 0.5s 1s linear forwards;
  opacity: 0;
  color: white;
}
.Technical-bars .bar .progress-line {
  position: relative;
  border-radius: 10px;
  width: 100%;
  height: 5px;
  background-color: #000000;
  animation: animate 1s cubic-bezier(1, 0, 0.5, 1) forwards;
  transform: scaleX(0);
  transform-origin: left;
}
@keyframes animate {
  100% {
    transform: scaleX(1);
  }
}
.Technical-bars .bar .progress-line span {
  height: 100%;
  background-color: #0ef;
  position: absolute;
  border-radius: 10px;
  animation: animate 1s 1s cubic-bezier(1, 0, 0.5, 1) forwards;
  transform: scaleX(0);
  transform-origin: left;
}
.progress-line.html span {
  /* change percentage to change your progress line of technical skilss */
  width: 90%;
}
.progress-line.css span {
  width: 85%;
}
.progress-line.javascript span {
  width: 70%;
}
.progress-line.react span {
  width: 65%;
}
.progress-line.redux span {
  width: 80%;
}
.progress-line.next span {
  width: 70%;
}
.progress-line.tailwind span {
  width: 90%;
}
.progress-line.github span {
  width: 85%;
}
.progress-line span::after {
  position: absolute;
  padding: 1px 8px;
  background-color: #000;
  color: #fff;
  border-radius: 3px;
  top: -28px;
  right: -20px;
  animation: showText 0.5s 1.5s linear forwards;
  opacity: 0;
}
.progress-line.html span::after {
  /* change here for change percentage written on progress line   */
  content: "90%";
}
.progress-line.css span::after {
  content: "85%";
}
.progress-line.javascript span::after {
  content: "70%";
}
.progress-line.react span::after {
  content: "65%";
}
.progress-line.redux span::after {
  content: "80%";
}
.progress-line.next span::after {
  content: "70%";
}
.progress-line.tailwind span::after {
  content: "90%";
}
.progress-line.github span::after {
  content: "85%";
}
.progress-line span::before {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border: 7px solid transparent;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-color: #000;
  top: -10px;
  right: 0;
  animation: showText 0.5s 1.5s linear forwards;
  opacity: 0;
}
@keyframes showText {
  100% {
    opacity: 1;
  }
}
.radial-bars {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.radial-bars .radial-bar {
  width: 50%;
  height: 170px;
  margin-bottom: 10px;
  position: relative;
}
.radial-bars .radial-bar svg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(-90deg);
  width: 120px;
  height: 160px;
}
.radial-bars .radial-bar .progress-bar {
  stroke-width: 10;
  stop-color: black;
  fill: transparent;
  stroke-dasharray: 502;
  stroke-dashoffset: 502;
  stroke-linecap: round;
  animation: animate-bar 1s linear forwards;
}

@keyframes animate-bar {
  100% {
    stroke-dashoffset: -1;
  }
}
.path {
  stroke-width: 10;
  stroke: #0ef;
  fill: transparent;
  stroke-dasharray: 502;
  stroke-dashoffset: 502;
  stroke-linecap: round;
}
.path-1 {
  animation: animate-path1 1s 1s linear forwards;
}
.path-2 {
  animation: animate-path2 1s 1s linear forwards;
}
.path-3 {
  animation: animate-path3 1s 1s linear forwards;
}
.path-4 {
  animation: animate-path4 1s 1s linear forwards;
}
.path-5 {
  animation: animate-path5 1s 1s linear forwards;
}
.path-6 {
  animation: animate-path6 1s 1s linear forwards;
}
@keyframes animate-path1 {
  100% {
    stroke-dashoffset: 50;
  }
}
@keyframes animate-path2 {
  100% {
    stroke-dashoffset: 175;
  }
}
@keyframes animate-path3 {
  100% {
    stroke-dashoffset: 125;
  }
}
@keyframes animate-path4 {
  100% {
    stroke-dashoffset: 75;
  }
}
@keyframes animate-path5 {
  100% {
    stroke-dashoffset: 175;
  }
}
@keyframes animate-path6 {
  100% {
    stroke-dashoffset: 153;
  }
}
.radial-bar .percentage {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 17px;
  animation: showText 0.5s 1s linear forwards;
  opacity: 0;
  color: white;
}
.radial-bar .text {
  width: 100%;
  color: white;
  position: absolute;
  text-align: start;
  left: 50%;
  bottom: -5px;
  transform: translateX(-50px);
  font-size: 17px;
  font-weight: 500;
  animation: showText 0.5s 1s linear forwards;
  opacity: 0;
}

#projects {
  color: aliceblue;
  font-size: 20px;
  line-height: 1.4;
  margin-bottom: 4rem;
}

.projects-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(259px, 1fr));
  grid-gap: 40px;
  margin-top: 50px;
}
.projects-list div {
  background-color: transparent;
  padding: 40px;
  font-size: 13px;
  font-weight: 13px;
  border-right: 10px;
  border-radius: 20px;
  transition: backg 0.5s, transform 0.5s;
  box-shadow: 1px 1px 20px #012290f7, 1px 1px 40px #0053b8f7;
}

.projects-list div a {
  text-decoration: none;
  color: #000000;
  font-size: 12px;
  margin-top: 20px;
  display: inline-block;
}
.read {
  display: inline-block;
  padding: 12px 20px;

  background: #0ef;
  border-radius: 40px;
  font-size: 16px;
  color: #081b29;
  letter-spacing: 1px;
  text-decoration: none;
  font-weight: 600;
  opacity: 0;
  animation: SlideTop 1s ease forwards;
  animation-delay: 2s;
  box-shadow: 0 0 5px #0ef, 0 0 25px #0ef;
}
.read:hover {
  box-shadow: 0 0 5px cyan, 0 0 25px cyan, 0 0 50px cyan, 0 0 100px cyan,
    0 0 200px cyan;
}
.projects-list div:hover {
  transform: translateY(-10px);
}
.swiper-pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  margin-top: 20px;
}

.swiper-pagination-bullet {
  width: 40px;
  height: 4px;
  background: black; 
  position: relative;
  overflow: hidden;
  border-radius: 2px;
  cursor: pointer;
  transition: background 0.3s ease;
}

.swiper-pagination-bullet-active {
  background: black; 
}

.swiper-pagination-bullet-active::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: #0ef;
  animation: swiper-progress 5s linear infinite;
}

@keyframes swiper-progress {
  0% {
    width: 0%;
  }
  50% {
    width : 50%
  }
  100% {
    width: 100%;
  }
}

.contact-list i{
  display: inline-block;
  color: #0ef;
  font-size: 20px;
  font-weight: 600;
  transition: all .4s ease;
}
.contact-list li a:hover{
  transform: scale(1.01) translateY(-5px);
  color: #0ef;
}
.contact-icons i{
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background: transparent;
  border: 2px solid #0ef;
  border-radius: 50%;
  font-size: 20px;
  color: #0ef;
  text-decoration: none;
  margin: 30px 15px 30px 0px;
  transition: .5s ease;
  opacity: 0;
  animation: SlideLeft 1s ease forwards;
  animation-delay: calc(.2s * var(--i));
}
.contact-icons i:hover{
  background: #0ef;
  color: #000;
  box-shadow: 0 0 20px #0ef;
}
.contact-form form input, form textarea{
border: none;
outline: none;
width: 90%;
padding: 18px;
background: #d1d1db;
color: #000;
font-size: 1rem;
font-weight: 600;
margin-bottom: 0.5rem;
border-radius: 0.5rem;
}
.contact-form textarea{
  resize: none;
  height: 220px;
}
.contact-form form .send{
  display: inline-block;
  padding: 14px 60px;
  background: #0ef;
  border-radius: 40px;
  font-size: 18px;
  color: #081b29;
  letter-spacing: 1px;
  text-decoration: none;
  font-weight: 600;
  opacity: 0;
  animation: SlideTop 1s ease forwards;
  animation-delay: 2s;
  box-shadow: 0 0 5px #0ef, 0 0 25px #00eeff;
}
.contact-form form .send:hover{
  box-shadow: 0 0 5px cyan, 0 0 25px cyan, 0 0 50px cyan, 0 0 100px cyan,
  0 0 200px cyan;
}

.top{
  position: fixed;
  bottom: 2.1rem;
  right: 2.1rem;
}

.top i{
  color: #000;
  background: #00eeff;
  font-size: 20px;
  padding: 10px;
  border-radius: 0.5rem;
}

@keyframes SlideLeft {
  0% {
    transform: translateX(100px);
    opacity: 0;
  }
  100% {
    transform: translateX(0px);
    opacity: 1;
  }
}
@keyframes SlideRight {
  0% {
    transform: translateX(-100px);
    opacity: 0;
  }
  100% {
    transform: translateX(0px);
    opacity: 1;
  }
}

@keyframes SlideTop {
  0% {
    transform: translateY(100px);
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}
@keyframes SlideBottom {
  0% {
    transform: translateY(-100px);
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}
